* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.full-container {
  width: 70%;
  margin: 0 auto;
}

.header-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-background-image {
  background-image: url(/image/bgk-header.png);
  position: absolute;
  background-position: center;
  background-size: cover;
  height: inherit;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-container {
  width: 60%;
}

.header-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

ul {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0;
}

ul a {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.awesome-container {
  width: 70%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awesome-container h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.awesome-container p {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 20px;
}

.line {
  color: #00e0d0;
}

button,
#input-button {
  width: 120px;
  height: 40px;
  border-radius: 2px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-weight: 400;
  font-family: "HammersmithOne";
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h6 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: linear-gradient(
    to left,
    rgba(96, 85, 136, 1) 0%,
    rgba(16, 168, 171, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.story-container {
  display: flex;
}

.story-text {
}

.story-logo {
}

/*-------------- Beginn EXPERTISE STYLES----------------------*/

.expertise-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}

.expertise-header {
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
}

.expertise-subtitle{
  text-align: center;
  width: 100%;
}

.expertise-table { 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.expertise-table-cell {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 1em;
}

@media (max-width: 480px){
  .expertise-table-cell {
    width: 100%;
  }

  .expertise-table-cell:nth-child(1), 
  .expertise-table-cell:nth-child(2),
  .expertise-table-cell:nth-child(3),
  .expertise-table-cell:nth-child(4),
  .expertise-table-cell:nth-child(5){
    border-bottom: 2px solid rgb(233, 227, 227);
  
  }
}

@media (max-width: 1500px){
  .expertise-table-cell {
    width: calc(100%/2);
  }
  
  .expertise-table-cell:nth-child(1), 
  .expertise-table-cell:nth-child(2),
  .expertise-table-cell:nth-child(3),
  .expertise-table-cell:nth-child(4){
    border-bottom: 2px solid rgb(233, 227, 227);
   
   
  }
}

@media (min-width: 1501px){
  .expertise-table-cell {
    width: calc(100%/3);
  }
  
  .expertise-table-cell:nth-child(1), 
  .expertise-table-cell:nth-child(2),
  .expertise-table-cell:nth-child(3) {
    border-bottom: 2px solid rgb(233, 227, 227);
       
  }

}


.table-cell-text {
  width: 299px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  font-family: "Roboto";
  align-self: flex-start;
}

.table-cell-header {
  
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 900;
  font-family: "Roboto";

}

/*-------------- End EXPERTISE STYLES----------------------*/

.contact-partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 300px;
}

.good-news,
.happy-clients {
  width: 50%;
}

.partner-logo-container img {
  max-width: 100px;
  margin: 10px;
}

.partner-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-partner-container input {
  display: block;
  margin: 10px;
}

.footer-wrapper {
  background-image: url(/image/bgk-footer.png);
  width: 100%;
  height: 400px;
  position: absolute;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-container {
  width: 70%;
  height: 400px;
}

.footer-top {
  width: 60%%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav1 {
  width: 320px;
  height: 200px;
}

.logo-container-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.footer-nav1 p {
  color: white;
  margin-top: 15px;
  margin-right: 15px;
}

h6 {
  margin-left: 10px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: linear-gradient(
    to left,
    rgba(96, 85, 136, 1) 0%,
    rgba(16, 168, 171, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-nav2 {
  color: white;
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.address p {
  margin: 0px 30px 0px 15px;
}

.telephone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.telephone p {
  margin-left: 15px;
}

.footer-nav3 {
  color: white;
  width: 340px;
  height: 200px;
}

.newsletter {
  height: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
}
.newsletter-box {
  width: 215px;
  height: 45px;
  background: transparent;
}

.newsletter-box input {
  border: thin;
  border-color: white;
}

.newsletter-submit {
  border: solid;
  background-color: white;
  opacity: 20%;
  margin-left: 5px;
  width: 70px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-med {
  display: flex;
  margin-top: 20px;
}

.soc-med li {
  list-style-type: none;
  margin-left: 0px;
  padding: 2px;
  justify-content: space-around;
}

.footer-nav-bottom {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-content: flex-start;
}

.help {
  display: flex;
  width: 300px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: flex-start;
}

.help li {
  list-style-type: none;
}

.help a {
  text-decoration: none;
  color: white;
  align-self: flex-start;
}

.copyright {
  color: white;
  display: flex;
  align-items: flex-start;
  margin-inline-end: 20px;
}
